#okta-sign-in .auth-header {
	background-color: #eee9e2;
}
.login-bg-image.tb--background {
	background-image: url(https://trt-seeds.s3.amazonaws.com/vault.gif);
}


body #okta-sign-in.auth-container.main-container {
	background-color: #fff0;
}


body #okta-sign-in {
	border-style: none;
}